Repository r4ai/remark-callout: changes, and which lefthook commands are due for each by the changed paths.
All: examples/nextjs/check, packages/remark-callout/check, packages/remark-typedoc-astro-link/check, packages/website/check, check-lockfile

examples/nextjs/check:
  run: pnpm eslint --fix {staged_files}

packages/remark-callout/check:
  run: pnpm biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

packages/remark-typedoc-astro-link/check:
  run: pnpm biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

packages/website/check:
  run: 'pnpm biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files} && pnpm prettier --write {staged_files}
  
    '
  stage_fixed: true

check-lockfile:
  run: bun install --frozen-lockfile

feat: add Astro example with custom components and CSS pages
  bun.lock
  examples/astro/.gitignore
  examples/astro/README.md
  examples/astro/astro.config.ts
  examples/astro/package.json
  examples/astro/src/components/Callout.tsx
  examples/astro/src/env.d.ts
  examples/astro/src/layouts/BaseLayout.astro
  examples/astro/src/pages/css.mdx
  examples/astro/src/pages/custom-components.mdx
  examples/astro/src/pages/index.astro
  examples/astro/src/styles/callout.css
  examples/astro/src/styles/global.css
  examples/astro/tsconfig.json
Due: check-lockfile

feat(examples/astro): add dark mode support and theme toggle
  bun.lock
  examples/astro/package.json
  examples/astro/playwright.config.ts
  examples/astro/src/components/ThemeToggle.astro
  examples/astro/src/layouts/BaseLayout.astro
  examples/astro/src/pages/css.mdx
  examples/astro/src/pages/custom-components.mdx
  examples/astro/src/pages/index.astro
  examples/astro/src/styles/callout.css
  examples/astro/src/styles/global.css
Due: check-lockfile

chore: consolidate Biome execution to root level
  bun.lock
  lefthook.yml
  package.json
  packages/remark-callout/biome.json
  packages/remark-callout/package.json
  packages/remark-typedoc-astro-link/biome.json
  packages/remark-typedoc-astro-link/package.json
  packages/website/biome.json
  packages/website/package.json
  packages/website/prettier.config.js
  turbo.json
Due: packages/remark-callout/check, packages/remark-typedoc-astro-link/check, packages/website/check, check-lockfile

style: apply Biome formatting across all packages
  examples/astro/src/components/Callout.tsx
  examples/nextjs/postcss.config.mjs
  examples/nextjs/tsconfig.json
  packages/website/.vscode/settings.json
  packages/website/astro.config.ts
  packages/website/postcss.config.cjs
  packages/website/src/components/Callout.tsx
  packages/website/src/components/CodeBlock.astro
  packages/website/src/components/FeatureCard.tsx
  packages/website/src/components/Footer.tsx
  packages/website/src/components/Header.tsx
  packages/website/src/components/Math.tsx
  packages/website/src/components/NavSideBar.tsx
  packages/website/src/components/TOC.tsx
  packages/website/src/components/ui/accordion.tsx
  packages/website/src/components/ui/breadcrumb.tsx
  packages/website/src/components/ui/button.tsx
  packages/website/src/components/ui/collapsible.tsx
  packages/website/src/components/ui/drawer.tsx
  packages/website/src/components/ui/scroll-area.tsx
  packages/website/src/components/ui/tabs.tsx
  packages/website/src/components/ui/textarea.tsx
  packages/website/src/components/ui/tooltip.tsx
  packages/website/src/content.config.ts
  packages/website/src/content/docs/en/Tabs.tsx
  packages/website/src/content/docs/en/TwoCols.tsx
  packages/website/src/layouts/BaseLayout.astro
  packages/website/src/lib/metadata.ts
  packages/website/src/lib/typedoc-plugins/custom-frontmatter.js
  packages/website/src/lib/typedoc-plugins/entries.js
  packages/website/src/lib/utils.ts
  packages/website/src/pages/docs/[...slug]/_Breadcrumb.tsx
  packages/website/src/pages/docs/[...slug]/index.astro
  packages/website/src/pages/index.astro
  packages/website/src/pages/playground/_Playground.tsx
  packages/website/src/pages/playground/_callout.css
  packages/website/src/pages/playground/index.astro
  packages/website/src/styles/global.css
  packages/website/typedoc.config.js
  remark-callout.code-workspace
Due: examples/nextjs/check, packages/website/check

fix: address Astro example review feedback
  bun.lock
  examples/astro/package.json
  examples/astro/src/components/Callout.tsx
  examples/astro/src/components/ThemeToggle.astro
  examples/astro/src/styles/callout.css
Due: check-lockfile

feat(examples/astro): replace @radix-ui/react-icons with lucide-react
  bun.lock
  examples/astro/package.json
  examples/astro/src/components/Callout.tsx
Due: check-lockfile

Path conditions:
  examples/nextjs/check: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx} and ^examples/nextjs/
  packages/remark-callout/check: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc} and ^packages/remark\-callout/
  packages/remark-typedoc-astro-link/check: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc} and ^packages/remark\-typedoc\-astro\-link/
  packages/website/check: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,html,css,astro,yaml,yml} and ^packages/website/
  check-lockfile: any of: **/package.json
