Repository r4ai/remark-callout: changes, and which lefthook commands are due for each by the changed paths.
All: examples/nextjs/check, packages/remark-callout/check, packages/website/check, check-lockfile

lefthook.yml:

# yaml-language-server: $schema=https://json.schemastore.org/lefthook.json
pre-commit:
  parallel: true
  commands:
    examples/nextjs/check:
      root: examples/nextjs
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: bun run eslint --fix {staged_files}

    packages/remark-callout/check:
      root: packages/remark-callout
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: bun run biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true

    packages/website/check:
      root: packages/website
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,html,css,astro,yaml,yml}"
      run: >
        bun run biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files} &&
        bun run prettier --write {staged_files}
      stage_fixed: true

    check-lockfile:
      glob: "**/package.json"
      run: bun install --frozen-lockfile

chore: fix `ckeck`, `check:write` command
  biome.json
  bun.lockb
  examples/nextjs/package.json
  lefthook.yml
  package.json
  packages/remark-callout/package.json
  packages/website/biome.json
  packages/website/package.json
  turbo.json
Due: examples/nextjs/check, packages/remark-callout/check, packages/website/check, check-lockfile

chore: fix `ckeck` and `check:write` command (#141)
  biome.json
  bun.lockb
  examples/nextjs/package.json
  lefthook.yml
  package.json
  packages/remark-callout/package.json
  packages/website/biome.json
  packages/website/package.json
  turbo.json
Due: examples/nextjs/check, packages/remark-callout/check, packages/website/check, check-lockfile

refactor
  .github/workflows/ci.yml
Due: none

chore: check code
  .github/workflows/ci.yml
Due: none

chore: run `check` script in CI (#142)
  .github/workflows/ci.yml
Due: none

docs: improve development documentation
  packages/remark-callout/README.md
Due: none

docs: improve development documentation (#143)
  packages/remark-callout/README.md
Due: none

fix: don't display an empty paragraph when the callout body is empty
  packages/remark-callout/src/plugin.test.ts
  packages/remark-callout/src/plugin.ts
Due: packages/remark-callout/check

chore: run changeset
  .changeset/gentle-drinks-relate.md
Due: none

fix: don't render an empty paragraph when the callout body is empty (#144)
  .changeset/gentle-drinks-relate.md
  packages/remark-callout/src/plugin.test.ts
  packages/remark-callout/src/plugin.ts
Due: packages/remark-callout/check

chore: skip empty callout body
  packages/remark-callout/src/plugin.test.ts
  packages/remark-callout/src/plugin.ts
Due: packages/remark-callout/check

test: remove console.log
  packages/remark-callout/src/plugin.test.ts
Due: packages/remark-callout/check

chore: changeset
  .changeset/curly-maps-collect.md
Due: none

fix: skip empty callout body (#146)
  .changeset/curly-maps-collect.md
  packages/remark-callout/src/plugin.test.ts
  packages/remark-callout/src/plugin.ts
Due: packages/remark-callout/check

chore: fix lockfile
  bun.lockb
Due: none

feat: add `options.titleInner`
  packages/remark-callout/src/plugin.test.ts
  packages/remark-callout/src/plugin.ts
Due: packages/remark-callout/check

chore: changeset
  .changeset/fresh-mirrors-walk.md
Due: none

docs: update options in README
  packages/remark-callout/README.md
Due: none

docs: improve jsdoc of `options.titleInner`
  packages/remark-callout/README.md
  packages/remark-callout/src/plugin.ts
Due: packages/remark-callout/check

feat: add `options.titleInner` to specify the HTML element that wraps the text of the callout title (#149)
  .changeset/fresh-mirrors-walk.md
  packages/remark-callout/README.md
  packages/remark-callout/src/plugin.test.ts
  packages/remark-callout/src/plugin.ts
Due: packages/remark-callout/check

fix: don't render content in title with empty titled paragraph
  packages/remark-callout/src/plugin.test.ts
  packages/remark-callout/src/plugin.ts
Due: packages/remark-callout/check

fix: markdown for test
  packages/remark-callout/src/plugin.test.ts
Due: packages/remark-callout/check

chore: changeset
  .changeset/tidy-rats-hide.md
Due: none

fix: don't render content as title in callouts with empty titled paragraph (#150)
  .changeset/tidy-rats-hide.md
  packages/remark-callout/src/plugin.test.ts
  packages/remark-callout/src/plugin.ts
Due: packages/remark-callout/check

chore: use v8 as coverage reporter
  packages/remark-callout/vitest.config.ts
Due: packages/remark-callout/check

chore: use v8 as coverage reporter (#151)
  packages/remark-callout/vitest.config.ts
Due: packages/remark-callout/check

feat: add TOC and SideBar
  bun.lockb
  packages/website/.vscode/settings.json
  packages/website/astro.config.ts
  packages/website/package.json
  packages/website/prettier.config.js
  packages/website/src/components/Header.tsx
  packages/website/src/components/NavSideBar.tsx
  packages/website/src/components/TOC.tsx
  packages/website/src/components/ui/accordion.tsx
  packages/website/src/components/ui/breadcrumb.tsx
  packages/website/src/content/docs/en/examples/astro.mdx
  packages/website/src/content/docs/en/examples/nextjs.mdx
  packages/website/src/content/docs/en/getting-started.mdx
  packages/website/src/layouts/BaseLayout.astro
  packages/website/src/lib/metadata.ts
  packages/website/src/pages/docs/[...slug]/_Breadcrumb.tsx
  packages/website/src/pages/docs/[...slug]/index.astro
  packages/website/src/pages/index.astro
  packages/website/src/pages/playground/index.astro
  remark-callout.code-workspace
Due: packages/website/check, check-lockfile

feat: add toc and sidebar in documentation (#154)
  bun.lockb
  packages/website/.vscode/settings.json
  packages/website/astro.config.ts
  packages/website/package.json
  packages/website/prettier.config.js
  packages/website/src/components/Header.tsx
  packages/website/src/components/NavSideBar.tsx
  packages/website/src/components/TOC.tsx
  packages/website/src/components/ui/accordion.tsx
  packages/website/src/components/ui/breadcrumb.tsx
  packages/website/src/content/docs/en/examples/astro.mdx
  packages/website/src/content/docs/en/examples/nextjs.mdx
  packages/website/src/content/docs/en/getting-started.mdx
  packages/website/src/layouts/BaseLayout.astro
  packages/website/src/lib/metadata.ts
  packages/website/src/pages/docs/[...slug]/_Breadcrumb.tsx
  packages/website/src/pages/docs/[...slug]/index.astro
  packages/website/src/pages/index.astro
  packages/website/src/pages/playground/index.astro
  remark-callout.code-workspace
Due: packages/website/check, check-lockfile

refactor: refactor the type definitions to make it easier to automatically generate the typedoc
  packages/remark-callout/src/index.ts
  packages/remark-callout/src/plugin.ts
Due: packages/remark-callout/check

docs: fix invalid markdown syntax in tsdoc
  packages/remark-callout/src/plugin.ts
Due: packages/remark-callout/check

feat: create private packages named remark-typedoc-astro-link
  lefthook.yml
  packages/remark-typedoc-astro-link/biome.json
  packages/remark-typedoc-astro-link/package.json
  packages/remark-typedoc-astro-link/src/index.ts
  packages/remark-typedoc-astro-link/src/plugin.ts
  packages/remark-typedoc-astro-link/tsconfig.build.json
  packages/remark-typedoc-astro-link/tsconfig.json
  remark-callout.code-workspace
Due: check-lockfile

chore: changeset
  .changeset/curvy-wasps-cross.md
Due: none

chore: generate typedoc before `astro dev` or `astro build`
  packages/website/package.json
  packages/website/src/lib/astro-integrations/typedoc/typedoc.ts
  packages/website/src/lib/typedoc-plugins/custom-frontmatter.js
  packages/website/src/lib/typedoc-plugins/entries.js
  packages/website/typedoc.config.js
Due: packages/website/check, check-lockfile

test: add test for remark-typedoc-astro-link
  bun.lockb
  packages/remark-typedoc-astro-link/package.json
  packages/remark-typedoc-astro-link/src/plugin.test.ts
  packages/remark-typedoc-astro-link/src/plugin.ts
Due: check-lockfile

feat(website): automatically generate the API Reference using Typedoc (#157)
  .changeset/curvy-wasps-cross.md
  bun.lockb
  lefthook.yml
  packages/remark-callout/src/index.ts
  packages/remark-callout/src/plugin.ts
  packages/remark-typedoc-astro-link/biome.json
  packages/remark-typedoc-astro-link/package.json
  packages/remark-typedoc-astro-link/src/index.ts
  packages/remark-typedoc-astro-link/src/plugin.test.ts
  packages/remark-typedoc-astro-link/src/plugin.ts
  packages/remark-typedoc-astro-link/tsconfig.build.json
  packages/remark-typedoc-astro-link/tsconfig.json
  packages/website/.gitignore
  packages/website/package.json
  packages/website/src/components/NavSideBar.tsx
  packages/website/src/components/TOC.tsx
  packages/website/src/lib/metadata.ts
  packages/website/src/lib/typedoc-plugins/custom-frontmatter.js
  packages/website/src/lib/typedoc-plugins/entries.js
  packages/website/src/pages/docs/[...slug]/_Breadcrumb.tsx
  packages/website/src/pages/docs/[...slug]/index.astro
  packages/website/typedoc.config.js
  remark-callout.code-workspace
Due: packages/remark-callout/check, packages/website/check, check-lockfile

docs: add link to options api reference
  packages/remark-callout/README.md
Due: none
