Repository r4ai/remark-callout: changes, and which lefthook commands are due for each by the changed paths.
All: examples/nextjs/check, packages/remark-callout/check, packages/website/check, check-lockfile

lefthook.yml:

# yaml-language-server: $schema=https://json.schemastore.org/lefthook.json
pre-commit:
  parallel: true
  commands:
    examples/nextjs/check:
      root: examples/nextjs
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: bun run eslint --fix {staged_files}

    packages/remark-callout/check:
      root: packages/remark-callout
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: bun run biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true

    packages/website/check:
      root: packages/website
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,html,css,astro,yaml,yml}"
      run: >
        bun run biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files} &&
        bun run prettier --write {staged_files}
      stage_fixed: true

    check-lockfile:
      glob: "**/package.json"
      run: bun install --frozen-lockfile

chore(deps): fix lockfile
  bun.lockb
Due: none

chore: use bun.lock instead of bun.lockb
  bun.lock
  bun.lockb
Due: none

chore: use bun.lock instead of bun.lockb (#308)
  bun.lock
  bun.lockb
Due: none

chore(deps): upgrade typedoc deps
  bun.lock
  packages/website/package.json
  packages/website/typedoc.config.js
Due: packages/website/check, check-lockfile

chore(deps): add remark-mdx
  bun.lock
  packages/website/package.json
  packages/website/typedoc.config.js
Due: packages/website/check, check-lockfile

chore(deps): upgrade typedoc deps (#309)
  bun.lock
  packages/website/package.json
  packages/website/typedoc.config.js
Due: packages/website/check, check-lockfile

chore(examples/nextjs): upgrade tailwindcss v4
  .vscode/settings.json
  bun.lock
  examples/nextjs/package.json
  examples/nextjs/postcss.config.mjs
  examples/nextjs/src/app/globals.css
  examples/nextjs/src/components/callout.tsx
  examples/nextjs/tailwind.config.ts
Due: examples/nextjs/check, check-lockfile

chore: use pnpm instead of bun because bun is too unstable
  .github/workflows/ci.yml
  .github/workflows/deploy-packages.yml
  .github/workflows/deploy-website.yml
  .tool-versions
  bun.lock
  examples/nextjs/package.json
  lefthook.yml
  mise.toml
  package.json
  packages/remark-callout/README.md
  packages/remark-callout/package.json
  packages/remark-typedoc-astro-link/package.json
  packages/website/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: examples/nextjs/check, packages/remark-callout/check, packages/website/check, check-lockfile

chore: approve builds
  pnpm-workspace.yaml
Due: none

fix: fix type errors
  packages/remark-callout/src/plugin.ts
Due: packages/remark-callout/check

fix: fix build error
  packages/website/package.json
  pnpm-lock.yaml
Due: packages/website/check, check-lockfile

chore: upgrade astro v5
  bun.lock
  packages/website/package.json
Due: packages/website/check, check-lockfile

migrate website to tailwindcss v4 css-first
  bun.lock
  packages/website/astro.config.ts
  packages/website/components.json
  packages/website/package.json
  packages/website/postcss.config.cjs
  packages/website/src/content/docs/en/TwoCols.css
  packages/website/src/pages/playground/_callout.css
  packages/website/src/styles/codeblock.css
  packages/website/src/styles/global.css
  packages/website/tailwind.config.ts
Due: packages/website/check, check-lockfile

fix website typedoc plugin resolution
  packages/website/package.json
  packages/website/typedoc.config.js
Due: packages/website/check, check-lockfile

fix: remove space-y-2 from callout root to prevent extra margin when folded
  packages/website/src/components/Callout.tsx
  packages/website/src/pages/playground/_callout.css
  packages/website/src/styles/codeblock.css
Due: packages/website/check

fix: address Tailwind review feedback
  packages/website/package.json
  packages/website/src/styles/codeblock.css
Due: packages/website/check, check-lockfile

update lockfile
  bun.lock
Due: none

fix global css
  packages/website/src/layouts/BaseLayout.astro
  packages/website/src/styles/global.css
Due: packages/website/check

style: apply biome
  packages/website/src/components/FeatureCard.tsx
  packages/website/src/components/Footer.tsx
  packages/website/src/components/Header.tsx
  packages/website/src/components/NavSideBar.tsx
  packages/website/src/components/TOC.tsx
  packages/website/src/components/ui/accordion.tsx
  packages/website/src/components/ui/breadcrumb.tsx
  packages/website/src/components/ui/button.tsx
  packages/website/src/components/ui/drawer.tsx
  packages/website/src/components/ui/scroll-area.tsx
  packages/website/src/components/ui/tabs.tsx
  packages/website/src/components/ui/textarea.tsx
  packages/website/src/components/ui/tooltip.tsx
  packages/website/src/pages/index.astro
  packages/website/src/pages/playground/_Playground.tsx
Due: packages/website/check

fix: add vitest coverage dependency
  bun.lock
  packages/remark-typedoc-astro-link/package.json
Due: check-lockfile

chore: upgrade tailwindcss v4 (#398)
  .vscode/settings.json
  bun.lock
  examples/nextjs/package.json
  examples/nextjs/postcss.config.mjs
  examples/nextjs/src/app/globals.css
  examples/nextjs/src/components/callout.tsx
  examples/nextjs/tailwind.config.ts
  packages/remark-typedoc-astro-link/package.json
  packages/website/astro.config.ts
  packages/website/components.json
  packages/website/package.json
  packages/website/postcss.config.cjs
  packages/website/src/components/Callout.tsx
  packages/website/src/components/FeatureCard.tsx
  packages/website/src/components/Footer.tsx
  packages/website/src/components/Header.tsx
  packages/website/src/components/NavSideBar.tsx
  packages/website/src/components/TOC.tsx
  packages/website/src/components/ui/accordion.tsx
  packages/website/src/components/ui/breadcrumb.tsx
  packages/website/src/components/ui/button.tsx
  packages/website/src/components/ui/drawer.tsx
  packages/website/src/components/ui/scroll-area.tsx
  packages/website/src/components/ui/tabs.tsx
  packages/website/src/components/ui/textarea.tsx
  packages/website/src/components/ui/tooltip.tsx
  packages/website/src/content/docs/en/TwoCols.css
  packages/website/src/layouts/BaseLayout.astro
  packages/website/src/pages/index.astro
  packages/website/src/pages/playground/_Playground.tsx
  packages/website/src/pages/playground/_callout.css
  packages/website/src/styles/codeblock.css
  packages/website/src/styles/global.css
  packages/website/tailwind.config.ts
  packages/website/typedoc.config.js
Due: examples/nextjs/check, packages/website/check, check-lockfile

chore: upgrade react to 19
  bun.lock
  examples/nextjs/package.json
  examples/nextjs/tsconfig.json
  packages/website/package.json
Due: examples/nextjs/check, packages/website/check, check-lockfile

chore: upgrade React to 19 (#410)
  bun.lock
  examples/nextjs/package.json
  examples/nextjs/tsconfig.json
  packages/website/package.json
Due: examples/nextjs/check, packages/website/check, check-lockfile

Upgrade website to Astro 6
  bun.lock
  packages/website/package.json
  packages/website/src/content.config.ts
  packages/website/src/pages/docs/[...slug]/_Breadcrumb.tsx
  packages/website/src/pages/docs/[...slug]/index.astro
Due: packages/website/check, check-lockfile

Finalize Astro 6 migration cleanup
  bun.lock
  packages/website/package.json
  packages/website/src/content.config.ts
Due: packages/website/check, check-lockfile

Fix breadcrumb fragment keys
  packages/website/src/pages/docs/[...slug]/_Breadcrumb.tsx
Due: packages/website/check

Upgrade website to Astro 6 (#413)
  bun.lock
  packages/website/package.json
  packages/website/src/content.config.ts
  packages/website/src/content/config.ts
  packages/website/src/pages/docs/[...slug]/_Breadcrumb.tsx
  packages/website/src/pages/docs/[...slug]/index.astro
Due: packages/website/check, check-lockfile

oidc
  .github/workflows/ci.yml
  .github/workflows/deploy-packages.yml
Due: none

chore: packageのリリースにOIDCを使う (#418)
  .github/workflows/ci.yml
  .github/workflows/deploy-packages.yml
Due: none

chore: bump nodejs to 25.8.2
  .tool-versions
Due: none

chore: bump nodejs to 25.8.2 (#424)
  .tool-versions
Due: none

docs: update Astro Tailwind CSS setup to use @tailwindcss/vite
  packages/remark-callout/README.md
Due: none

changeset
  .changeset/many-cloths-sort.md
Due: none
