Repository r4ai/remark-callout: changes, and which lefthook commands are due for each by the changed paths.
All: examples/nextjs/check, packages/remark-callout/check, packages/website/check, check-lockfile

lefthook.yml:

# yaml-language-server: $schema=https://json.schemastore.org/lefthook.json
pre-commit:
  parallel: true
  commands:
    examples/nextjs/check:
      root: examples/nextjs
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: bun run eslint --fix {staged_files}

    packages/remark-callout/check:
      root: packages/remark-callout
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: bun run biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true

    packages/website/check:
      root: packages/website
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,html,css,astro,yaml,yml}"
      run: >
        bun run biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files} &&
        bun run prettier --write {staged_files}
      stage_fixed: true

    check-lockfile:
      glob: "**/package.json"
      run: bun install --frozen-lockfile

docs: add link to options api reference
  packages/remark-callout/README.md
Due: none

docs: add link to options api reference (#159)
  packages/remark-callout/README.md
Due: none

chore: build all with turborepo
  .github/workflows/deploy-website.yml
Due: none

refactor: rename package deploying workflow
  .github/workflows/deploy-packages.yml
Due: none

Feature/fix deploy workflow (#160)
  .github/workflows/deploy-packages.yml
  .github/workflows/deploy-website.yml
Due: none

chore: fix lockfile
  bun.lockb
Due: none

hotfix(website): fix relative link in production build
  packages/remark-typedoc-astro-link/src/plugin.ts
Due: none

hotfix(website): fix relative link in production build
  packages/website/package.json
Due: packages/website/check, check-lockfile

chore: stop running `lefthook install` when postinstall
  package.json
Due: none

chore: stop running `lefthook install` when postinstall (#167)
  bun.lockb
  package.json
Due: none

docs: add instruction to support nested css in tailwind
  packages/remark-callout/README.md
Due: none

chore: changeset
  .changeset/curly-seas-approve.md
Due: none

docs: add instruction to support nested css in tailwind (#191)
  .changeset/curly-seas-approve.md
  packages/remark-callout/README.md
Due: none

chore: update biomejs config schema version
  biome.json
  bun.lockb
  packages/remark-callout/biome.json
  packages/remark-callout/package.json
  packages/remark-typedoc-astro-link/biome.json
  packages/remark-typedoc-astro-link/package.json
  packages/website/biome.json
  packages/website/bun.lockb
Due: packages/remark-callout/check, packages/website/check, check-lockfile

refactor: fix or ignore errors
  packages/website/src/components/ui/breadcrumb.tsx
  packages/website/src/styles/global.css
Due: packages/website/check

docs: fix release budge link
  packages/remark-callout/README.md
Due: none

chore: changeset
  .changeset/chilly-bees-exist.md
Due: none

docs: fix release budge link (#193)
  .changeset/chilly-bees-exist.md
  packages/remark-callout/README.md
Due: none

chore: configure renovate
  renovate.json
Due: none

chore: use renovate bestpractices (#194)
  renovate.json
Due: none

chore(deps): remove mdast and add @types/mdast
  bun.lockb
  packages/website/package.json
Due: packages/website/check, check-lockfile

chore(deps): remove mdast and add @types/mdast (#199)
  bun.lockb
  packages/website/package.json
Due: packages/website/check, check-lockfile

chore(deps): fix lockfile
  bun.lockb
Due: none

chore(deps): remove unused deps
  bun.lockb
  package.json
Due: none

chore(deps): add packageManager field in package.json
  package.json
Due: none

chore(deps): fix deps
  bun.lockb
  packages/website/package.json
Due: packages/website/check, check-lockfile

chore(deps): remove unused deps (#201)
  bun.lockb
  package.json
  packages/website/package.json
Due: packages/website/check, check-lockfile

chore(deps): fix lockfile
  bun.lockb
  package.json
Due: none

refactor: remove unused comments
  packages/website/src/components/ui/breadcrumb.tsx
Due: packages/website/check
